
body{
	background-color: #CAB365;
	font-family: "Asap Condensed", sans-serif;
}

header, footer{
	background-color: #181818;
}

h2{
	color: #181818;
}

h1, p, li{
	color: #181818;
}

.footer_text{
	color: #D4D4D4
}


input{
	display: block;
}

.main_img{
 float:left;
 border-radius: 50%;
 margin-left: 50px;
}

.clearfix{
	overflow: auto;
}
.main_text{
	display:inline-block;
	margin-top: 120px;
	margin-left: 30px;
	color: #D4D4D4;
}

article {
	background-color: #D4D4D4;
}

section, aside {
	background-color: #B0A06D;
}

a {
	color: #D4D4D4;
}

a:hover{
	background-color: #EEE7CD;
	color: #181818;
}

nav a {
	color: #181818;
}

form input {
    display: block;
    margin: auto;
    padding: 8px;
}

form input:focus{
	border: 3px solid #B0A06D;
}

#signup-header, #signup-footer{
  text-align: center;
}

.back_link{
	color: #181818;
}

#head, #T1, #T2, #T3{
	text-align: center;
	color: #FA4C48;
	text-decoration: underline;
}

.successful {
	text-align: center;
}
